@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(226 232 240);
}

/* Estilos para el footer */


/* Estilos para el contenido principal */
.main-content {
    padding-top: 100px;

    /* Espaciado para el footer */

}

.table-container {
    max-height: calc(100vh - 150px);
    /* Altura máxima menos el header y el footer */
    overflow-y: auto;
}
